<a href="https://colab.research.google.com/github/Jaime44/TFM/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# https://files.grouplens.org/datasets/movielens/ml-25m-README.html

In [2]:
import sys
import os


# Comprueba si el código se está ejecutando en Google Colab
try:
    import google.colab
    IN_COLAB = True
except:
    IN_COLAB = False

path_absolute = ''
if IN_COLAB:
    print("El código se está ejecutando en Google Colab.")
    from google.colab import drive

    drive.mount('/content/drive')
    path_absolute = '/content/drive/Othercomputers/Mi portátil/TFM/WorkSpace/TFM/'

    # Cambia al directorio de tu carpeta en Google Drive
    os.chdir(path_absolute)

    # Lista los archivos y carpetas en el directorio actual
    contenido_carpeta = os.listdir(path_absolute)
    print("Contenido de la carpeta en Google Drive:")
    print(contenido_carpeta)
else:
    print("El código se está ejecutando en un entorno local.")
    path_absolute = 'C:/Users/jaime/OneDrive - Universidad de Málaga/Escritorio/UNIR/TFM/WorkSpace/TFM/'

El código se está ejecutando en un entorno local.

In [3]:
import pandas as pd

In [4]:
nameDataFrame = 'movies_rating.csv'

In [5]:
df = pd.read_csv(path_absolute+nameDataFrame, sep=',')
print(df.shape)
print(df.info())
df.head()
dataFrame = df.copy()

(834731, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834731 entries, 0 to 834730
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   userId                  834731 non-null  int64
 1   movieId                 834731 non-null  int64
 2   rating                  834731 non-null  float64
 3   timestamp_valoraciones  834731 non-null  int64
 4   tag                     834730 non-null  object
 5   timestamp_etiquetas     834731 non-null  int64
 6   title                   834731 non-null  object
 7   genres                  834731 non-null  object
 8   imdbId                  834731 non-null  int64
 9   tmdbId                  834562 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 63.7+ MB
None

In [6]:
# # Especifica el tamaño de la muestra que deseas obtener
# tamano_muestra = 10  # Cambia esto al tamaño de muestra que desees
# # Obtiene una muestra aleatoria uniforme del DataFrame
# dataFrame = dataFrame.sample(n=tamano_muestra, random_state=42)  # random_state para reproducibilidad

In [7]:
dataFrame.head()

,userId,movieId,rating,timestamp_valoraciones,tag,timestamp_etiquetas,title,genres,imdbId,tmdbId
0,3,260,4.0,1439472239,classic,1439472355,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,76759,11.0
1,3,260,4.0,1439472239,sci-fi,1439472256,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,76759,11.0
2,264,260,3.0,1543390081,aliens,1543390134,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,76759,11.0
3,264,260,3.0,1543390081,oldie but goodie,1543390130,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,76759,11.0
4,264,260,3.0,1543390081,scifi cult,1543390105,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,76759,11.0

In [8]:
dataFrame.rename(columns={'timestamp_valoraciones': 'timestamp_scr', 'timestamp_etiquetas': 'timestamp_tags'}, inplace=True)

In [9]:
# Supongamos que tienes un DataFrame llamado 'data' con una columna 'géneros'
# Ejemplo de cómo se ve la columna 'géneros': 'Acción|Aventura|Ciencia ficción'

# Divide la columna 'géneros' en múltiples columnas usando '|' como delimitador y convierte en binario (0 o 1)
generos_separados = dataFrame['genres'].str.get_dummies(sep='|')

# Concatena los nuevos géneros_separados con el DataFrame original
data = pd.concat([dataFrame, generos_separados], axis=1)

# Elimina la columna original 'géneros' si ya no la necesitas
data = data.drop(columns=['genres'])

# Ahora, las columnas de géneros son variables binarias (0 o 1) que indican la presencia o ausencia de cada género
# print(data.head())

dataFrame = data.copy()

In [10]:
columna_a_mover = dataFrame.pop('rating')

# Inserta la columna 'rating' en la última posición del DataFrame
dataFrame.insert(len(dataFrame.columns), 'rating', columna_a_mover)

In [11]:
# Supongamos que tienes un DataFrame llamado 'dataFrame' y quieres eliminar las columnas 'tmdbId' y 'imdbId'.
columnas_a_eliminar = ['imdbId', 'tmdbId']

# Elimina las columnas especificadas del DataFrame 'data'
dataFrame = dataFrame.drop(columnas_a_eliminar, axis=1)

# Ahora, tmdbId' y 'imdbId' han sido eliminadas del DataFrame 'dataFrame'

In [12]:
dataFrame.to_csv(path_absolute+'df_movies_rating.csv', index=False)

In [13]:
data.shape

(834731, 29)

In [14]:
dataFrame.head()

,userId,movieId,timestamp_scr,tag,timestamp_tags,title,(no genres listed),Action,Adventure,Animation,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
0,3,260,1439472239,classic,1439472355,Star Wars: Episode IV - A New Hope (1977),0,1,1,0,...,0,0,0,0,0,1,0,0,0,4.0
1,3,260,1439472239,sci-fi,1439472256,Star Wars: Episode IV - A New Hope (1977),0,1,1,0,...,0,0,0,0,0,1,0,0,0,4.0
2,264,260,1543390081,aliens,1543390134,Star Wars: Episode IV - A New Hope (1977),0,1,1,0,...,0,0,0,0,0,1,0,0,0,3.0
3,264,260,1543390081,oldie but goodie,1543390130,Star Wars: Episode IV - A New Hope (1977),0,1,1,0,...,0,0,0,0,0,1,0,0,0,3.0
4,264,260,1543390081,scifi cult,1543390105,Star Wars: Episode IV - A New Hope (1977),0,1,1,0,...,0,0,0,0,0,1,0,0,0,3.0

In [15]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834731 entries, 0 to 834730
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userId              834731 non-null  int64
 1   movieId             834731 non-null  int64
 2   timestamp_scr       834731 non-null  int64
 3   tag                 834730 non-null  object
 4   timestamp_tags      834731 non-null  int64
 5   title               834731 non-null  object
 6   (no genres listed)  834731 non-null  int64
 7   Action              834731 non-null  int64
 8   Adventure           834731 non-null  int64
 9   Animation           834731 non-null  int64
 10  Children            834731 non-null  int64
 11  Comedy              834731 non-null  int64
 12  Crime               834731 non-null  int64
 13  Documentary         834731 non-null  int64
 14  Drama               834731 non-null  int64
 15  Fantasy             834731 non-null  int64
 16  Film-Noir           834731 non-null  int64
 17  Horror              834731 non-null  int64
 18  IMAX                834731 non-null  int64
 19  Musical             834731 non-null  int64
 20  Mystery             834731 non-null  int64
 21  Romance             834731 non-null  int64
 22  Sci-Fi              834731 non-null  int64
 23  Thriller            834731 non-null  int64
 24  War                 834731 non-null  int64
 25  Western             834731 non-null  int64
 26  rating              834731 non-null  float64
dtypes: float64(1), int64(24), object(2)
memory usage: 171.9+ MB

In [16]:
dataFrame.describe()

,userId,movieId,timestamp_scr,timestamp_tags,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
count,834731.000000,834731.000000,8.347310e+05,8.347310e+05,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,...,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000,834731.000000
mean,79168.097798,54175.567328,1.406217e+09,1.419720e+09,0.004446,0.280744,0.203990,0.058327,0.049616,0.273595,...,0.104264,0.065396,0.026028,0.109603,0.158302,0.236053,0.301732,0.043439,0.013320,3.793047
std,48896.689753,57767.183904,1.303627e+08,1.178012e+08,0.066528,0.449363,0.402962,0.234360,0.217150,0.445804,...,0.305602,0.247223,0.159217,0.312394,0.365025,0.424656,0.459010,0.203844,0.114643,1.041167
min,3.000000,1.000000,8.743580e+08,1.135429e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000
25%,34365.000000,2959.000000,1.310843e+09,1.325169e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.500000
50%,78688.000000,39183.000000,1.444045e+09,1.449869e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,123527.000000,94777.000000,1.513049e+09,1.525544e+09,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.500000
max,162534.000000,209063.000000,1.574317e+09,1.574317e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

In [ ]:
# a=dataFrame.loc[(dataFrame['(no genres listed)'] == 1) & 
#                 ((dataFrame['Action'] == 1) | (dataFrame['Adventure'] == 1) | (dataFrame['Animation'] == 1) | (dataFrame['Children'] == 1) | (dataFrame['Comedy'] == 1)| (dataFrame['Crime'] == 1) 
#                 | (dataFrame['Documentary'] == 1) | (dataFrame['Drama'] == 1) | (dataFrame['Fantasy'] == 1)| (dataFrame['Film-Noir'] == 1) | (dataFrame['Horror'] == 1) | (dataFrame['Musical'] == 1) 
#                 | (dataFrame['Mystery'] == 1) | (dataFrame['Romance'] == 1) | (dataFrame['Sci-Fi'] == 1) | (dataFrame['Thriller'] == 1) | (dataFrame['War'] == 1) | (dataFrame['Western'] == 1))]
# a

Hay 3711 filas que no tenemos información de su genero. Hay que ver si eliminar estas filas con peliculas vistas sin gnero o eliminar la columna de identificación de gnero.

In [27]:
a=dataFrame.loc[(dataFrame['(no genres listed)'] == 1)]
a

,userId,movieId,timestamp_scr,tag,timestamp_tags,title,(no genres listed),Action,Adventure,Animation,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
113058,449,184399,1538936950,coming of age,1538936963,Eighth Grade (2018),1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.5
113059,449,184399,1538936950,middle school,1538936974,Eighth Grade (2018),1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.5
113060,3063,184399,1566164444,realistic,1567949705,Eighth Grade (2018),1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.5
113061,3448,184399,1538418727,anxiety,1540275619,Eighth Grade (2018),1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.0
113062,3448,184399,1538418727,bo burnham,1540275612,Eighth Grade (2018),1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834676,161542,180163,1510150268,dark,1510150284,Stanley Pickle (2010),1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.5
834677,161542,180163,1510150268,disturbing,1510150280,Stanley Pickle (2010),1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.5
834707,162174,153778,1472645881,hindi,1472648734,"Good Boy, Bad Boy (2007)",1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
834708,162174,153778,1472645881,india,1472648738,"Good Boy, Bad Boy (2007)",1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
834709,162174,153778,1472645881,indian,1472648741,"Good Boy, Bad Boy (2007)",1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0

Algo esta pasando con la ingfo de los dataset de genmas. Mestan duplicando los usuarios. 
Como para cada pelicula hay una relevencaci distinta con una etiqueta disitnta , pues hay un id dsitinto y para una misma fila en calida d de usuario pelicula timestamp etc.
hay varias filas repetidas por cada uno de estos tags/ids y relevancia.Action
Hay que rehacer el dataset.
ES REDUNDANTE O SE PUEDE TOMAR COMO VALIDO, ES DECIR AUNQUE TODO O DEMAS SEA IGUAL EL VALOR DE LA COLUMNA TAG ID Y RELEVANCIA ES DISITNTO.
CREO DOS DATASETS.

SE VA A ELIMINAR PORQUE SE ENTIENDE QUE ESTABA GENRANDO REDUNDANCIA. 
PORQUE LOS ETIQUETAS Y RELEVANCIA IBAN POR PELICULAS ENTONCES CADA USAURIO QUE VIESE UNA PELICULA TAMBIÉN TENIA LAS ETIQUETAS GENOMICAS Y LAS RELVANCIAS POR CADA PELICULA MULTIPLICANDO POR 10 EL NÚMERO DE FILAS. TRATAR ESTO Y MODIFICAR LA TABALA PARA QUE FUERAN COLUMNAS AUMENTA EN MAS 1000 COLUMNAS, INTRATABLE.

In [ ]:
# a=df.loc[(df['title'] == 'Star Wars: Episode IV - A New Hope (1977)') ]
# a

In [20]:
# # Suponiendo que 'data' es tu DataFrame y 'tag_genome' es el nombre de la columna de la que deseas obtener los valores únicos
# valores_unicos = dataFrame['tag_genome'].unique()

# # Imprimir los valores únicos
# print(valores_unicos)
# print(len(valores_unicos))

# # Suponiendo que 'data' es tu DataFrame y 'tagId' es el nombre de la columna de la que deseas obtener los valores únicos
# valores_unicos_tagid = dataFrame['tagId'].unique()

# # Imprimir los valores únicos
# print(valores_unicos_tagid)
# print(len(valores_unicos_tagid))

In [ ]:
# # Suponiendo que 'data' es tu DataFrame y 'tag_genome' es el nombre de la columna de la que deseas obtener los valores únicos
# valores_unicos = dataFrame['userId'].unique()

# # Imprimir los valores únicos
# print(valores_unicos)
# print(len(valores_unicos))

# # Suponiendo que 'data' es tu DataFrame y 'tagId' es el nombre de la columna de la que deseas obtener los valores únicos
# valores_unicos_tagid = dataFrame['timestamp_scr'].unique()

# # Imprimir los valores únicos
# print(valores_unicos_tagid)
# print(len(valores_unicos_tagid))

In [22]:
# a=df.loc[(df['title'] == 'Matrix, The (1999)')]
# a

In [23]:
# a=dataFrame.loc[(dataFrame['title'] == 'Raging Bull (1980)')]
# a

In [24]:
# b=df.loc[(df['title'] == 'Raging Bull (1980)')]
# b

In [25]:
# c=dataFrame.loc[(dataFrame['title'] == 'Raging Bull (1980)') & (dataFrame['movieId'] == 1228)]
# c

In [26]:
# c=df.loc[(df['title'] == 'Raging Bull (1980)') & (df['tmdbId'] == 1578.0) & (df['imdbId'] == 81398) & (df['movieId'] == 1228)]
# c

Elimino las columnas de timestamp puesto que tenemos dos valoes distintos una para el moenmnto en el que hizo la valoración y otro en el que se etiqueto la pelicula por el usuario. Se entiende que no son datos relevantes
y pueden no aportar nada, aún así se puede hacer un pre-procesado con y sin timestamp y ver si ayudan o emperon estos datos, para ello hay que hacer un estudio del conjunto de datos.
Hay algunas columnas de ID como imdbId tmdbId o tagId movieId que hay que ver si los elimiono a los mantengo a lo mejor es interesante mantener alguno que identifique la pelicula para cuando se haga algún
enrenamientotner un valor que no  se a un strng(nombre) par aidentificar las peliculas. Lo que esta claro que no puedo tener 3 identificadores para las peliculas. El idice de tag si que no me vale para nada.

    timestamp_scr  -->  Tiempo en el que se puntuó la pelicula

    timestamp_tags  --> Tiempo en el que se genro el tag del usuario

    movieId --> Identificador unico de la pelicula. 

    imdbId  --> Identificador para peliculas usado por imdb

    tmdbId  --> Identificador para peliculas usado por tmdb 

------ Cualquiera de estos tres identificadores se puede usar como identificador unico de cada pelicula por lo que se entiende que es información redundante y que puede no apaortar nada en el entrnamiento de modelos,
pero que si ha sido utilixzado para hacer los join entre tabalas que comparten info. 

    tagId   --> Identificador de la etiqueta del dataset de genome-tags.csv. Esta etiqueta no es la misma que la que genra el usuario, aunque puede ser relevante la etiqueta no tanto el identificador. 
------Este identificador puede darnos info acerca del tag para cuando no se puedan utilizar valores categoricos, es como usar el identificador de la pelicula en vez del titulo.